/* Import Mini App specific styles */
@import "./styles/miniApp.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
  color: #473c75;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .react-tooltip.tooltip {
    @apply rounded-2xl bg-dark-grey px-4 py-2 text-[100%];
  }
  .react-tooltip.tooltip.multiline {
    @apply w-60 p-3;
  }

  /* TODO: Consider moving this animation to garden-book */
  .shine:before {
    @apply absolute left-0 top-0 h-full w-[168px] animate-shine bg-gradient-to-r from-transparent via-white/50 via-50% to-transparent opacity-0 content-[''];
  }
  .navbar-shine:before {
    @apply absolute left-0 top-0 h-full w-[84px] animate-navbar-shine bg-gradient-to-l from-transparent via-white/75 via-25% to-transparent opacity-0 content-[''];
  }
  .loader-shine:before {
    @apply absolute left-0 top-0 h-full w-[424px] animate-loader-shine bg-gradient-to-l from-transparent via-white/75 via-25% to-transparent opacity-0 content-[''];
  }
  .button-shine {
    @apply overflow-hidden;
  }
  .button-shine:before {
    @apply absolute left-0 top-0 content-[''];
    width: 134px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 225, 242, 0) 0%, rgba(255, 225, 242, 1) 40%, rgba(255, 225, 242, 1) 60%, rgba(255, 225, 242, 0) 100%);
    animation: button-shine 2s cubic-bezier(.85,.52,.12,.58) infinite;
    opacity: 1;
    z-index: 0;
  }
  .button-shine > * {
    position: relative;
    z-index: 1;
  }
}

@keyframes button-shine {
  0% {
    left: -150px;
    transform: skewX(-30deg);
  }
  100% {
    left: calc(100% + 150px);
    transform: skewX(-30deg);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #fc79c1 transparent;
}

input:active,
input:focus {
  @apply border-none outline-none;
  -moz-outline: none;
  -webkit-outline: none;
}
