@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Satoshi";
        font-weight: 300;
        src: url("./fonts/Satoshi-Light.woff2");
    }
    @font-face {
        font-family: "Satoshi";
        font-weight: 400;
        src: url("./fonts/Satoshi-Regular.woff2");
    }
    @font-face {
        font-family: "Satoshi";
        font-weight: 500;
        src: url("./fonts/Satoshi-Medium.woff2");
    }
    @font-face {
        font-family: "Satoshi";
        font-weight: 700;
        src: url("./fonts/Satoshi-Bold.woff2");
    }
    @font-face {
        font-family: "Satoshi";
        font-weight: 800;
        src: url("./fonts/Satoshi-Black.woff2");
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
