@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
}

@layer base {
  @font-face {
    font-family: Haffer;
    font-weight: 300;
    src: url("./fonts/Haffer-Thin.woff2");
  }
  @font-face {
    font-family: Haffer;
    font-weight: 400;
    src: url("./fonts/Haffer-Light.woff2");
  }
  @font-face {
    font-family: Haffer;
    font-weight: 500;
    src: url("./fonts/Haffer-Regular.woff2");
  }
  @font-face {
    font-family: Haffer;
    font-weight: 700;
    src: url("./fonts/Haffer-Medium.woff2");
  }
  @font-face {
    font-family: Haffer;
    font-weight: 800;
    src: url("./fonts/Haffer-Black.woff2");
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .react-tooltip.tooltip {
    @apply rounded-2xl bg-dark-grey px-4 py-2 text-[100%];
  }
  .react-tooltip.tooltip.multiline {
    @apply w-60 p-3;
  }

  /* TODO: Consider moving this animation to garden-book */
  .shine:before {
    @apply absolute left-0 top-0 h-full w-[168px] animate-shine bg-gradient-to-r from-transparent via-white/50 via-50% to-transparent opacity-0 content-[''];
  }
  .navbar-shine:before {
    @apply absolute left-0 top-0 h-full w-[84px] animate-navbar-shine bg-gradient-to-l from-transparent via-white/75 via-25% to-transparent opacity-0 content-[''];
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:active,
input:focus {
  @apply border-none outline-none;
  -moz-outline: none;
  -webkit-outline: none;
}
